html, body{
	height: 100%;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    background-color: lightgray;
	
}


/*  Topo com img   */
#topo{
    background-image:  linear-gradient(to right , #160077, #b7b0fc36), url("img/admin-small.png");
    height: 120px;
    margin-top: -10px;
    display: flex;
    align-items: center;
    
    
}

/*  entrada   */
#add{
    margin: 3rem;
    align-items: center;
    
}

.lateral{
    background-image:  linear-gradient(to bottom , #160077, #5da1fac7);
    
}
/*  li nav   */
.menu{
    margin: 10px 0px;
    background-color: #160077;
    padding: 7px;
    list-style: none;
    
}
/*  Link adm   */
.adm{
    margin: 30px 10px;
    list-style: none;
}

/*  link nav   */
.menulink{
    text-decoration: none;
    color: white;
}


.branco{
    background-color: #fff;
    height: 100vh;
    align-items: center;
    padding: 40px;
    margin-left: 20px;
}


tr{
    text-align: center;
}
table{
    align-items: center;
    width: 30rem;
}
/*entrada predios*/
#predios{
    
    width: 200px;
    height: 30px;
}